#!/usr/bin/env bash

# Homebrew config
HOMEBREW_CACHE="${PWD}/HOMEBREW_CACHE"
HOMEBREW_PREFIX="${PWD}/HOMEBREW_PREFIX"
HOMEBREW_CELLAR="${HOMEBREW_PREFIX}/Cellar"

mkdir -p "${HOMEBREW_PREFIX}/"
mkdir -p "${HOMEBREW_PREFIX}/bin"
mkdir -p "${HOMEBREW_PREFIX}/etc"
mkdir -p "${HOMEBREW_PREFIX}/include"
mkdir -p "${HOMEBREW_PREFIX}/lib"
mkdir -p "${HOMEBREW_PREFIX}/sbin"
mkdir -p "${HOMEBREW_PREFIX}/share"
mkdir -p "${HOMEBREW_PREFIX}/opt"
mkdir -p "${HOMEBREW_PREFIX}/var/homebrew/linked"
mkdir -p "${HOMEBREW_PREFIX}/Cellar"

# From brew/Library/Homebrew/cmd/shellenv.sh
export HOMEBREW_CACHE="${HOMEBREW_CACHE}"
export HOMEBREW_PREFIX="${HOMEBREW_PREFIX}"
export HOMEBREW_CELLAR="${HOMEBREW_CELLAR}"

# Add ./bin to path
export PATH="${PWD}/bin${PATH+:$PATH}"

# Hops config
HOPS_CACHE="${PWD}/HOPS_CACHE"
export HOPS_CACHE="${HOPS_CACHE}"
